/* Elements */
body {
    background-image: url("../images/ignasi_pattern_s.png");
}

a, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 152, 190);
}

img{
    width: 500px;
}

/* Classes */
.container {
    color:  rgb(0, 156, 130);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 97, 109);;
    color: white;
    text-align: center;
    border-top: 5px solid rgb(15, 73, 73);
    padding: 1px 0px 0px;
 }

 .footer p{
     font-size: 16px;
     color:  rgba(255, 255, 255, 0.308);
 }

 /* ID */
#margin-bottom{
    margin-bottom: 100px;
}

#margin{
    margin-right: 85px;
}

#background-color{
    background-color:  rgb(0, 156, 130);
}





